.input-container {
  margin-bottom: 1rem;
}

.input-container input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}

.button-container {
  text-align: center;
}

.button-container button {
  margin-top: 1rem;
  background-color: #3490dc;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background-color: #2779bd;
}
.cusp {
  margin-top: -150px;
}
