.plan-cus {
  margin-bottom: -100px;
}
.bg-black {
  background-color: #000;
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-opacity-90 {
  background-color: rgba(0, 0, 0, 0.9);
}

/* .w-1/4 {
  width: 25%;
}

.rounded-[20px] {
  border-radius: 20px;
} */

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.bg-white {
  background-color: #fff;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.shadow-lg {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.overflow-hidden {
  overflow: hidden;
}
/* 
.w-[100%] {
  width: 100%;
} */

.bg-blue-500 {
  background-color: #3b82f6;
}

.text-white {
  color: #fff;
}

.font-bold {
  font-weight: 700;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.uppercase {
  text-transform: uppercase;
}

.tracking-wide {
  letter-spacing: 0.05em;
}

.text-sm {
  font-size: 0.875rem;
}

.rounded-t-lg {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.space-x-4 {
  margin-left: -1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.border-t {
  border-top-width: 1px;
}

.border-gray-200 {
  border-color: #e5e7eb;
}

.justify-between {
  justify-content: space-between;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text-gray-500 {
  color: #6b7280;
}

.font-medium {
  font-weight: 500;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.text-blue-500 {
  color: #3b82f6;
}

.rounded {
  border-radius: 0.25rem;
}
